<head>
	<meta charset="UTF-8">
    <title>DEPG-WDI Project 2</title>
  <link href="https://fonts.googleapis.com/css?family=Limelight|Poiret+One" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  
</head>
<body>
<header>
  <nav class="navbar bg-dark navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand limelight-text" href="/" id="nav-text">Which?_Flix</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav poirot-text">
      <a class="nav-item nav-link active" href="/landing">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/movies">Movies</a>
      <a class="nav-item nav-link" href="/users">Fellow Critics</a>
      <a class="nav-item nav-link" href="/about">About Us</a>
    <!--   <a class="nav-item nav-link" href="/users/<%=user.id%>">Your Profile</a>
	-->
	</div>
  </div>
</nav>
</header>	

<div class="wrapper">

	<div class="text-container">

// <!--  ======== display messages if there is one ===== -->

// <!--  ======= Local Registration ================= -->
		<form action="/auth/register" method="POST">
			<p> Please register for added features! </p>
			<input type="text" name="username" placeholder="username">
			<input type="email" name="email" placeholder="email">
			<input type="password" name="password" placeholder="password">
			<button type="submit"> Register </button>
		</form>
	</div>

	<div class="footer">
        <p style="align: right">.</p>
      </div>

</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

  </body>
</html>
