

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>DEPG-WDI Project 2</title>
  <link href="https://fonts.googleapis.com/css?family=Limelight|Poiret+One" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  
</head>
<body>
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">which?_flix Picks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <span class="nav-item active">
          <a class="nav-link" href="/">You Are Here <span class="sr-only">(current)</span></a>
        </span>
        <span class="nav-item">
          <a class="nav-link" href="/movies">Movies</a>
        </span>
        <span class="nav-item">
          <a class="nav-link" href="/users">Fellow Critics</a>
        </span>
        <li class="nav- item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/users/show.ejs">Your Profile</a>
        </li>
      </li>
    </ul>
  </div>
</nav>
</header>	