* {
	background-color: linear-gradient(right, grey, black);
	bottom: auto;
	/*background-color: blue;*/
	
	
}

.wrapper {
	background-image: url("https://imgur.com/7oheQKK.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
  display: grid;
  border: 1px solid green;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(20px, auto);
  

}

.reg-wrapper {
	background-image: url("https://imgur.com/7oheQKK.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
  display: grid;
  border: 1px solid green;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(20px, auto);

}

.begincontainer {
	background-color: rgba(255,255,255,.5);
background-image: inherit;
width: 100px;
height: 50px;
transition: font-size .5s;

font-family: 'Oswald', sans-serif;
color: grey;
font-size: 24px;
	grid-column: 2;
	grid-row: 2;
	box-shadow: 6px 6px 2px 1px rgba(0,0,0,.2);
}
.begincontainer:hover {

font-size: 40px;
}

.login-container {
text-align: right;
transition: background-color 2s;
transition: color 2s;
font-family: 'Oswald', sans-serif;
color: white;
font-size: 18px;
	grid-column: 4 / 10;
	grid-row: 2;
	box-shadow: 6px 6px 2px 1px rgba(0,0,0,.2);
}
.login-container:hover {
	background-color: lightgrey;
	color: black;
}

.register-container {

transition: background-color 2s;
transition: color 2s;
font-family: 'Oswald', sans-serif;
color: black;
font-size: 18px;
	grid-column: 10 / 16;
	grid-row: 2;
	box-shadow: 6px 6px 2px 1px rgba(0,0,0,.2);
}

.register-container:hover {
	background-color: darkgrey;
	color: white;
}

.movies-container {

transition: background-color 2s;
transition: color 2s;
font-family: 'Oswald', sans-serif;
color: black;
font-size: 18px;
	grid-column: 2 / 6;
	grid-row: 5;
	/*box-shadow: 6px 6px 2px 1px rgba(0,0,0,.2);*/
}

.footer {
	background-image: initial;
	font-family: 'Merienda', cursive;
	font-size: 5px;
	grid-column: 20;
	grid-row: 25;
	vertical-align: bottom;
	color: white;

}
