<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1> PROJECT 2 </h1>
		<nav>
			<a href="/movies"> Index </a>
			<a href="/index"> Home </a>
			<a href="/users"> Users </a>
		</nav>
	</header>
	<main>
		<form method="POST" action="/movies/<%=movie.id%>?_method=PUT">
			Title: <input type="text" name="title" placeholder="title"> 
			Genre: <input type="text" name="genre" placeholder="genre"> 
			Poster : <input type="text" name="poster" placeholder="poster"> 
			Stars : <input type="text" name="stars" placeholder="stars"> 
			Director : <input type="text" name="director" placeholder="director"> 
			Rating : <input type="text" name="rating" placeholder="rating"> 
			<button type="submit"> Submit </button>
		</form>
		<form method="POST" action="/movies/<%=movie.id%>?_method=DELETE">
			<button type="submit" value="Delete Movie" name="delete"> Delete </button>


	</main>

</body>
</html>