<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1> PROJECT 2 </h1>
		<nav>
			<a href="/movies"> Index </a>
			<a href="/index"> Home </a>
			<a href="/users"> Users </a>
		</nav>
	</header>
	<h1> Movies Index EJS </h1>
	<main>
		<section>
			<% for (let i = 0; i < movies.length; i++){%>
			<p><a href="movies/<%=movies[i].id%>"><%=movies[i].title %></a> </p>
			<%}%>
		</section>
		<section>
			<a href="movies/new"> Add a Movie </a>
		</section>
	</main>
</body>
</html>