<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1> Have a movie you'd recommend to other users? Add it to your databse! </h1>

	<form method="POST" action="/movies">
		Title: <input type="text" name="title" placeholder="title"> 
		Genre: <input type="text" name="genre" placeholder="genre"> 
		Poster : <input type="text" name="poster" placeholder="poster"> 
		Stars : <input type="text" name="stars" placeholder="stars"> 
		Director : <input type="text" name="director" placeholder="director"> 
		Rating : <input type="text" name="rating" placeholder="rating"> 
		<button type="submit"> Submit </button>
	</form>


</body>
</html>