<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1> Have a movie you'd recommend to other users? Add it to your databse! </h1>

	<form method="POST" action="/auth">
		Title: <input type="text" name="title" placeholder="title"> 
		Genre: <input type="text" name="title" placeholder="title"> 
		Poster : <input type="text" name="title" placeholder="title"> 
		Cast : <input type="text" name="title" placeholder="title"> 
		Director : <input type="text" name="title" placeholder="title"> 
		Rating : <input type="text" name="title" placeholder="title"> 
	</form>


</body>
</html>